@import '../../../utils/colours';
@import '../../../utils/colours';
@import '../../../utils/font.scss';

.home-app {
  @include appfont;
  padding: 0;

  // navigation
  &__navigation {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &__link {
      flex: 0 0 auto;
      margin-right: 20px;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      color: $dark;

      &--active {
        color: $primary;
        font-weight: bold;
      }
    }
  }
}
