@import '../../../utils/colours';
@import '../../../utils/font.scss';

.ui-product-detail {
  @include appfont;
  width: 100%;
  &__body {
    width: 70vw;
    margin: auto;

    &__not-found-page {
      background-color: #ffe600;
      width: 80%;
      margin: 3rem auto;
      font-size: 20px;
      padding: 0.5rem;
      border-radius: 4px;
      color: white;
    }

    &__info {
      background-color: $white;
      padding: 0;
      margin: 0;
      display: flex;

      &__image-container {
        width: 680px;
        height: 680px;
        margin: 0;
        padding: 0;
        &__image {
          object-fit: contain;
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }

      &__main-values {
        &__condition {
          font-size: 14px;
          margin: 32px 0 16px 0;
          font-weight: $regular;
        }
        &__title {
          font-size: 24px;
          margin: 0;
          font-weight: $medium;
        }
        &__price-container {
          margin: 32px 0;
          &__amount-value {
            font-size: 46px;
            font-weight: $regular;
          }
          &__cents {
            font-size: 22px;
            vertical-align: top;
          }
        }
        &__buy-button {
          background-color: #3483fa;
          color: white;
          width: 90%;
          border: 0;
          outline: 0;
          padding: 0.6rem;
          font-size: 16px;
          border-radius: 7px;
          box-shadow: none;
          cursor: pointer;
        }
      }
    }

    &__description {
      padding: 32px;
      display: block;
      background-color: #fff;
      margin-bottom: 6rem;

      &__title {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 32px;
      }
      &__value {
        margin: 0;
        white-space: pre-wrap;
        color: #666666;
        font-size: 16px;
      }
    }
  }
}
