@import '../../../utils/colours';
@import '../../../utils/font.scss';
@import '../../../utils/screens.scss';

.ui-product-detail {
  @include appfont;
  width: 100%;
  &__body {
    width: 80vw;
    margin: auto;
  }
}
