@import "../../../utils/colours.scss";
@import '../../../utils/font.scss';

.ui-not-found-page {
  @include appfont;
  width: 80%;
  margin: 3rem auto;
  font-size: 20px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
  &--info {
    background-color: $lightgrey;
    &__text {
      font-size: 20px;
      color: $white;
    }
  }
  &--default {
    background-color: $gray;
    &__text {
      font-size: 20px;
      color: $white;
    }
  }
}
