@import "../../../utils/colours";
@import "../../../utils/font.scss";
@import '../../../utils/screens.scss';

.ui-product-detail-info {
  @include appfont;
  background-color: $white;
  border-radius: 4px;
  &__main {
    padding: 32px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    &__image-container {
      margin: 0;
      padding: 0;
      margin: 0 auto 32px auto;
      @media screen and (max-width: $extra-small) {
        object-fit: contain;
      }
      @media screen and (min-width: $extra-small) and (max-width: $medium-large) {
        width: 100%;
      }
      @media screen and (min-width: $medium-large) {
        width: 680px;
        height: 680px;
      }
      &__image {
        border-radius: 4px;
        object-fit: contain;
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }

    &__values {
      width: 100%;
      @media screen and (min-width: $medium-large) {
        width: calc(80vw - 760px); // 80vw of the father, 680px image, 80(32+32+16)px margin/padding
        min-width: 250px;
      }
      @media screen and (min-width: $medium) {
        padding-left: 16px;
      }
      @media screen and (max-width: $medium) {
        padding: 0 16px;
      }
      &--condition {
        width: inherit;
        font-size: 14px;
        margin: 32px 0 16px 0;
        font-weight: $regular;
      }
      &--title {
        width: inherit;
        font-size: 24px;
        margin: 0;
        font-weight: $regular-bold;
      }
      &__price-container {
        white-space: nowrap;
        width: inherit;
        margin: 32px 0;
        &--amount {
          font-size: 46px;
          font-weight: $regular;
          @media screen and (max-width: $small) {
            font-size: 26px;
          }
        }
        &--cents {
          font-size: 22px;
          vertical-align: top;
          @media screen and (max-width: $small) {
            font-size: 12px;
          }
        }
      }
      &__buy-button {
        width: inherit;
        background-color: #3483fa;
        color: white;
        border: 0;
        outline: 0;
        max-width: 600px;
        padding: 0.6rem;
        font-size: 16px;
        border-radius: 7px;
        box-shadow: none;
        cursor: pointer;
      }
    }
  }

  &__description {
    padding: 32px;
    display: block;
    background-color: #fff;
    margin-bottom: 6rem;

    @media screen and (max-width: $small) {
      padding: 32px 16px;
    }

    &__title {
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 32px;

      @media screen and (max-width: $small) {
        font-size: 23px;
      }
    }
    &__value {
      margin: 0;
      white-space: pre-wrap;
      color: #666666;
      font-size: 16px;
    }
  }
}
