@import "../../../utils/colours";
@import '../../../utils/font.scss';

.ui-product-list {
  @include appfont;
  width: 100%;

  &__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__body {
    width: 70vw;
    margin: auto;
    background-color: $secondary;
    color: $dark;
    &__items-container {
      margin-bottom: 6rem;
    }
  }
}
